@import '../../scss/variables.scss';

#hamburger{
    border: 0px;
    background-color: white;
}


#ham-icon{
    cursor: pointer;
}

.menu{
    background-color: white;
    width: 100%;
    position: fixed;
    right: 0px;
}

.cardText{
    color: black;
    font: 25px/25px $font;
    
}

.cardText:hover, .cardText:focus {
    color:purple;
}

